<!doctype html>
<html>
	<head>
		<title>skellington site</title>
		<link rel="stylesheet" href="/stylesheets/style.css" type="text/css" media="screen">
	</head>
	
	<body>
		<%= yield %>
	</body>
</html>